/RedisSessionProvider/*.suo

/RedisSessionProvider/*.user
/RedisSessionProvider/obj
/RedisSessionProvider/bin
/*.suo
/RedisSessionProvider/RedisSessionProvider.1.0.0.0.nupkg
/RedisSessionProvider/RedisSessionProvider.1.0.1.0.nupkg
/SampleUsageMVCApp/bin
/SampleUsageMVCApp/obj
/SampleUsageMVCApp/SampleUsageMVCApp.csproj.user
/RedisSessionProvider/*.nupkg
/RedisSessionProviderUnitTests/bin
/RedisSessionProviderUnitTests/obj
