<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <target name="file"
      xsi:type="File"
      layout="${longdate} ${logger} ${message}${newline}${exception:format=tostring}"
      fileName="C:/logs/RedisSessionProviderDebug/${shortdate}.txt"
      keepFileOpen="false"
    />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>