<?xml version="1.0" encoding="utf-8"?>

<!-- This is a sample web.config file demonstrating how to hook into the default .NET Session State module. -->

<configuration>  
  <system.web>
    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->

    <!--  The key attributes here are mode="Custom" and customProvider="RedisSessionStateStore" in the parent 
          sessionState tag. The customProvider attribute must match the name attribute of the child provider/add
          tag. The type attribute of the matching provider then points to the actual class,
          Welegan.RedisSessionStorePrpvider.RedisSessionStoreProvider
    -->
    <sessionState
      mode="Custom"
      cookieless="false"
      timeout="60"
      customProvider="RedisSessionStateStore">
      <providers>
        <add 
          name="RedisSessionStateStore"
          type="Welegan.RedisSessionStoreProvider.RedisSessionStateStoreProvider"
          hashPrefix="YourRedisSession"
          serverAddress="127.0.0.1"
          serverPort="1234" />
      </providers>
    </sessionState>
  </system.web>
</configuration>